.center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.main_app{
    background-color: #0C2F1D;
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardsField{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #1F4F34;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}
.cardAppli{
    background-color: #397252;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    animation: menuApear 0.4s ease;
    padding: 20px;
}
.buttons{
    padding-top: 20px;
    display: flex;
    gap: 20px;
}
.title{
    background-color: #1F4F34;
    padding: 20px;
    border-radius: 20px;
    color: white;
}
@keyframes menuApear {
    from{
        opacity: 0;
        transform: translateY(-12px);
    }
    to{
        opacity: 1;
         transform: translateY(0px);
    }
}